* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

/* helpers  */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
